var/*
media/catalog/*
app/etc/local.xml
*.*~
.htaccess
downloader/.cache/
downloader/*.cfg
.directory
php_errors.log
*.kdev4
errors/local.xml
media/tmp/*
*.bak*
/nbproject
media/*
server.sh
*.ignore.*
