<?xml version="1.0"?>
<config>
    <modules>
       <Orba_Payupl>
          <version>0.2.3.1</version>
       </Orba_Payupl>
    </modules>
     <frontend>
        <routers>
            <payupl>
                <use>standard</use>
                <args>
                    <module>Orba_Payupl</module>
                    <frontName>payupl</frontName>
                </args>
            </payupl>
        </routers>
        <layout>
            <updates>
                <payupl>
                    <file>payupl.xml</file>
                </payupl>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Payupl>
                    <files>
                        <default>Orba_Payupl.csv</default>
                    </files>
                </Orba_Payupl>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <payupl>
                <class>Orba_Payupl_Block</class>
            </payupl>
        </blocks>
        <models>
            <payupl>
                <class>Orba_Payupl_Model</class>
            </payupl>
        </models>
        <resources>
            <payupl_setup>
                <setup>
                    <module>Orba_Payupl</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payupl_setup>
        </resources>
        <helpers>
            <payupl>
                <class>Orba_Payupl_Helper</class>
            </payupl>
        </helpers>
    </global>
    <default>
        <payment>
            <payupl>
                <active>0</active>
                <model>payupl/payment</model>
                <order_status>pending_payment</order_status>
                <encoding>UTF</encoding>
                <title>Payu.pl</title>
                <gateway_url>https://www.platnosci.pl/paygw</gateway_url>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </payupl>
         </payment>
    </default>
</config>
