<?xml version="1.0"?>
<config>
  <modules>
    <Zefiryn_SimpleCheckout>
      <version>0.1.0</version>
    </Zefiryn_SimpleCheckout>
  </modules>
  <global>
    <blocks>
      <simplecheckout>
        <class>Zefiryn_SimpleCheckout_Block</class>
      </simplecheckout>
    </blocks>
    <helpers>
      <simplecheckout>
        <class>Zefiryn_SimpleCheckout_Helper</class>
      </simplecheckout>
    </helpers>
    <models>
      <simplecheckout>
        <class>Zefiryn_SimpleCheckout_Model</class>
      </simplecheckout>
    </models>
    <customer>
      <address>
        <formats>
          <simplecheckout_review translate="title" module="customer">
            <title>SimpleCheckout Review</title>
            <renderer>simplecheckout/address_renderer</renderer>
          </simplecheckout_review>
        </formats>
      </address>
    </customer>
  </global>
  <frontend>
    <routers>
      <checkout>
        <use>standard</use>
        <args>
          <modules>
            <Zefiryn_SimpleCheckout before="Mage_Checkout">Zefiryn_SimpleCheckout</Zefiryn_SimpleCheckout>
          </modules>          
        </args>
      </checkout>
    </routers>
    <layout>
      <updates>
        <simplecheckout>
          <file>simplecheckout/checkout.xml</file>
        </simplecheckout>
      </updates>
    </layout>
    <events>
      <controller_action_postdispatch_customer_account_loginPost>
        <observers>
          <simplecheckout_loginPost>
            <class>simplecheckout/observer</class>
            <method>accountPostResponse</method>
          </simplecheckout_loginPost>
        </observers>
      </controller_action_postdispatch_customer_account_loginPost>
      <controller_action_postdispatch_customer_account_forgotpasswordpost>
        <observers>
          <simplecheckout_loginPost>
            <class>simplecheckout/observer</class>
            <method>forgotpasswordPostResponse</method>
          </simplecheckout_loginPost>
        </observers>
      </controller_action_postdispatch_customer_account_forgotpasswordpost>
      <payment_info_block_prepare_specific_information>
        <observers>
          <reviewstepccinfo>
            <class>simplecheckout/observer</class>
            <method>prepareCCInfo</method>
          </reviewstepccinfo>
        </observers>
      </payment_info_block_prepare_specific_information>
      <sales_quote_payment_import_data_before>
        <observers>
          <setPaymentData>
            <class>simplecheckout/observer</class>
            <method>setPaymentData</method>
          </setPaymentData>
        </observers>
      </sales_quote_payment_import_data_before>
    </events>
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <simplecheckout>
                      <title>SimpleCheckout</title>
                    </simplecheckout>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <default>
    <simplecheckout>
      <options>
        <simplecheckout_enabled>1</simplecheckout_enabled>
        <grandtotal_tax>1</grandtotal_tax>
      </options>
    </simplecheckout>
    <customer>
      <address_templates>
        <simplecheckout_review><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region_code}}{{var region_code}} {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>]]></simplecheckout_review>
      </address_templates>
    </customer>
  </default>
</config>