.simplecheckout-index-index .main {border: 0px;}
.checkout-container {background: transparent;width: 100%;margin:0px;padding: 5px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

ul.steps {list-style-type: none;width: 478px;margin:0px auto;}
ul.steps li {list-style-type: none;display: block;margin:0px;background: transparent;padding: 10px 5px;}
ul.steps li.close {display: none;}
ul.steps li.open {display: block;}
ul.steps li .step-frame {background: #fff;margin: 0px 0px 10px 0px;border: 1px solid #ccc;box-shadow: 0px 0px 2px #777;border-radius: 4px;padding: 0px 19px;}
ul.steps li h2 {text-align: center;margin: 20px 0px 20px 0px;padding: 0px 0px 15px 0px;border-bottom: 1px solid #aaa;text-transform: uppercase;font-size: 18px;}
ul.steps li h2 .step-edit {display: none;}

ul.steps li.completed {display: block;padding: 0px 5px;}
ul.steps li.completed .next-steps {display: none;}
ul.steps li.completed .step-form {display: none;border: 0px;}
ul.steps li.completed .step-frame {border: 0px;box-shadow: none;margin-bottom: 0px;}
ul.steps li.completed h2 {border-bottom: 0px;font-size: 16px;margin: 0px;padding: 0px;}
ul.steps li.completed h2 > span {background: url('../../images/simplecheckout/tick.png') no-repeat left center;padding-left: 15px;}
ul.steps li.completed h2 .step-edit {display: inline;cursor: pointer;font-size: 12px;text-transform: lowercase;text-decoration: underline;}

.steps .current-address-wrapper {position:relative;overflow: hidden;display: block;text-align: center;font-size: 14px;line-height: 20px;}
.steps .current-address {margin: auto;text-align: left;display: inline-block;}
.steps .current-address-wrapper .hr {text-align: center;margin: 10px 0;background: transparent url('../../images/simplecheckout/dot.jpg') repeat-x left center;}
.steps .current-address-wrapper .hr span {background: #fff;padding: 0px 50px;}
.steps .address-changer, #shipping-new-address-form {clear: both;}

.steps .step-form .box-float {overflow: hidden;margin: 12px 0px;}
.steps .step-form .box-float .field {float: left; padding-right: 0px;width: 50%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.steps .step-form .box-float .field:first-child {padding-right: 10px;}
.steps .step-form .box-float .field:last-child {padding-right: 0px;padding-left: 10px;}
.steps .step-form .box-float .field input,
.steps .step-form .box-wide input {width: 100%;height: 30px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;padding: 2px 4px;border: 1px solid #c8c8d7 !important;}
.steps .step-form .box-float .field select, .steps .step-form select {width: 100%;height: 30px;}
.steps .step-form .box-wide .row {width: 100%;margin: 12px 0px 20px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;} 

.steps .step-form .field.city-field {width: 50%;margin-right: 10px;}
.steps .step-form .field.state-field {width: 84px;}
.steps .step-form .field.zip-field {width: 116px;padding-left: 20px !important;}

.steps .buttons-set .checkbox-left {width: auto;text-align: left;position: absolute;left: 0px;}
.steps .buttons-set {text-align: center;}
.steps .buttons-set button.button {float: none;margin: 0px auto;}

.steps .next-steps {text-align: center;}
.steps .next-steps p {margin: 4px 0px;text-transform: uppercase;}

.step-frame span.validation-error, 
.step-frame div.validation-error {background: #c84b4b;padding-right: 0px;border: 1px solid #af3232;padding: 4px 5px;-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.step-frame .validation-advice {color: #fff !important;background: none;padding: 0px;}
.step-frame input.input-text.validation-failed, 
.step-frame textarea.validation-failed {border: 1px solid #974051 !important;}
.step-frame .span.validation-passed, 
.step-frame div.validation-passed {padding: 0px;background: none;}

.steps .step-shipping .shipping-estimate {margin: 0px 0px 10px 0px;background: #fffc6a;padding: 0px;text-align: left;text-transform: uppercase;}
.steps .step-shipping .shipping-estimate p {padding: 5px 5px;margin: 0px;}

.steps .step-payment .method-select {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */ 
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;
  margin: 0;
  width: 100% /* needed for Firefox */;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.steps .step-payment .method-select div {
  height: auto;
  min-height: 30px;
  min-width: 100px;
  margin: 0px 5px 10px 0px;
  padding: 0px 5px;  
  background: transparent;
  display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
  -webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
  -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
  border-bottom: 2px solid #fff;
}
.steps .step-payment .method-select div:hover {border-bottom: 2px solid #eee;}
.steps .step-payment .method-select div.selected {border-bottom: 2px solid #ccc;}
.steps .step-payment .method-select div label {text-align: center;display: block;width: 100%;cursor: pointer;}

.steps .step-payment .billing-address {margin-top: 20px;padding-top: 10px;border-top: 1px solid #ccc;}
.steps .step-payment .billing-address h3 {text-transform: uppercase;text-align: center;font-weight: normal;font-size: 16px;}
.steps .step-payment .form-list {overflow: hidden;margin-bottom: 14px;text-align: center;}
.steps .step-payment .form-list li {float: left; padding-right: 10px;width: 50%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.steps .step-payment .form-list li:last-child {width: 100%;}
.steps .step-payment .form-list li.form-alt {text-align: center;}
.steps .step-payment .form-list label {width: 100%;color: #999;text-align: left;float: none;} 
.steps .step-payment .form-list label em {display: none;}
.steps .step-payment .form-list select {width: 100%;height: 30px;}
.steps .step-payment .form-list input {width: 100%;height: 30px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;padding: 2px 4px;border: 1px solid #c8c8d7 !important;}
.steps .step-payment .form-list .input-box {float: none;overflow: hidden;}
.steps .step-payment .form-list .v-fix {float:left;padding: 0px 10px 0px 0px;width: 50%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;display: block;}
.steps .step-payment .form-list .v-fix:last-child {padding-right: 0px;}

.steps .step-payment .form-list .cc-type {height: 23px;background: url('../../images/simplecheckout/cctypes.png') no-repeat top right;display: block;position: absolute;z-index: 10;width: 60px;margin-top: 4px;right: 0px;}
.steps .step-payment .form-list .cc-type-none {background-position: 0px -300px;}
.steps .step-payment .form-list .cc-type-vi {background-position: 0px 0px;}
.steps .step-payment .form-list .cc-type-mc {background-position: 0px -21px;}
.steps .step-payment .form-list .cc-type-ae {background-position: 0px -66px;}
.steps .step-payment .form-list .cc-type-di {background-position: 0px -43px;}

.steps .step-review .data-table {margin: 20px 0px;font-size: 12px;border: 1px solid #d9d9d9;border-left: 0px;border-right: 0px;border-bottom: 0px;}
.steps .step-review .data-table thead {background: none;font-size: 12px;border: 0px;}
.steps .step-review .data-table th {background: none;font-size: 14px;}
.steps .step-review .data-table tr:last-child td {border-bottom: 0px;}
.steps .step-review .data-table tfoot {background: none;}
.steps .step-review .data-table tfoot tr:first-child td {border-top: 1px solid #d9d9d9;}
.steps .step-review .data-table tfoot tr.grandtotal td {border-top: 1px solid #d9d9d9;}
.steps .step-review .data-table .expandable {background: transparent url('../../images/simplecheckout/expand.png') no-repeat right center;padding-right: 15px;cursor: pointer;}
.steps .step-review .data-table .expanded .expandable {background: transparent url('../../images/simplecheckout/contract.png') no-repeat right center;padding-right: 15px;}
.steps .step-review .data-table .item-options-row .option {margin: 5px 0px;}
.steps .step-review .data-table .item-options-row dt {display: inline;text-transform: uppercase;padding-right: 5px;}
.steps .step-review .data-table .item-options-row dd {display: inline;}
.steps .step-review .data-table tbody tr:nth-child(even), 
.steps .step-review .data-table tr.even {background: transparent;}

.steps .step-review .totals {text-align: right;}

.steps .step-review h2 {border-bottom: 0px;margin-bottom: 0px;padding-bottom: 0px;}
.steps .step-review .steps-review {overflow: hidden;padding-bottom: 10px;}
.steps .step-review .steps-review .review-item {float: left; padding-right: 10px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;font-size: 12px;line-height: 20px;}
.steps .step-review .steps-review .review-item.review-payment {min-width: 140px;float: right;max-width: 50%;}
.steps .step-review .steps-review .review-item .label {text-transform: uppercase;}
.steps .step-review .steps-review .review-item .step-edit {text-decoration: underline;display: block;margin:2px 0px;cursor: pointer;}
.steps .step-review .steps-review .info-table th {font-weight: normal}

.loader-container {background: rgba(0,0,0,0.3);width: auto;}
.ajax-loader {width: 130px;border: 2px solid #FFDED2;text-align: center;padding: 15px;background: #fff;margin: 0px auto;}
.ajax-loader img {margin: 5px 0px;}
.ajax-loader p {color: #FF6347;}

.overlay {position: fixed;background-color: rgba(0, 0, 0, 0.8);top: 0px;left:0px;width: 100%;height: 100%;z-index:100;}
.overlay .blocks-container {width: 540px;margin: 0px auto;}
.step-block {background: #fff;margin: 30px 0px;padding: 3px 10px 15px 10px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;display: block;}
.step-block .close-btn {float: right;font-size: 14px;font-weight: bold;cursor: pointer;}
.step-block hr {width: 75%;background: transparent url('../../images/simplecheckout/bar.png') repeat-x bottom center;height: 1px;border: 0px;margin: 20px auto 15px auto;}
.step-block .step-frame {clear:both;padding: 0px 10px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;font-size: 12px;line-height: 20px;position: relative;text-align: left;}
.step-block .step-frame h2 {font-size: 16px;text-align:center;padding: 10px 0px 0px;}
.step-block .step-frame .col2-set .col-1, 
.step-block .step-frame .col2-set .col-2 {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.step-block .step-frame .col2-set .col-1 {padding-right: 10px;}
.step-block .step-frame .col2-set .col-2 {padding-left: 10px;}
.step-block .step-frame .col2-set .col-1 h2, 
.step-block .step-frame .col2-set .col-2 h2 {text-align:left;}
.step-block .step-frame label {float: none;}
.step-block .step-frame .input-box {width: 100%;float:none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;padding-right: 0px;}
.step-block .step-frame input.input-text {height:30px; width: 98%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.step-block .step-footer {text-align: center;line-height: 20px;}

.step-block.step-login .step-form .buttons-set .password-forgot-link {display: block;clear: both;padding-top: 10px;cursor: pointer;}
.step-block.step-login .step-form .buttons-set .password-forgot-link:hover {color: #000;text-decoration: underline;} 

.step-block.step-register .step-form {width: 60%;margin: 30px auto 0px;}
.step-block.step-register .step-form li.center {text-align: center;}
.step-block.step-register .step-form li.buttons-set {position: relative;}
.step-block.step-register .step-form .control {display: block;height: auto;}
.step-block.step-register .step-form .control .input-box {float: none;text-align: center;margin: 0px;overflow: hidden;position: relative;}
.step-block.step-register .step-form .control label {float: none;}

.step-block.step-forgot .step-form {width: 62%;margin: 20px auto;text-align: left;}
.step-block.step-forgot .step-form p {text-align: left;}
.step-block.step-forgot .step-form .buttons-set {border: 0px;text-align: center;margin-bottom: 20px;}
.step-block.step-forgot .step-form .buttons-set button {float: none;}
.step-block.step-forgot .step-form .buttons-set button span {height: 27px;line-height: 27px;}
.step-block.step-forgot .step-form .buttons-set .forgot-return-link {display: block;clear: both;padding-top: 10px;cursor: pointer;}
.step-block.step-forgot .step-form .buttons-set .forgot-return-link:hover {color: #000;text-decoration: underline;} 

.overlay .buttons-set {position: relative;}

#simplecheckout-link-container {position: relative;} 
#simplecheckout-ajax-loader {background: #fff url('../../images/simplecheckout/ajax-loader.gif') no-repeat right center;width: 100%;height: 100%;position: absolute;right: 0px;top: 0px;text-align: right;padding-right: 20px;}