<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <DpTD_Checkout>
      <version>0.1.0</version>
    </DpTD_Checkout>
  </modules>
  <global>    
    <blocks>      
    </blocks>
    <helpers>
    </helpers>
    <models>
      <dptd_checkout>
        <class>DpTD_Checkout_Model</class>
      </dptd_checkout>
    </models>
  </global>
  <frontend>    
    <layout>
      <updates>
        <dptd_checkout>
          <file>dptd_checkout.xml</file>
        </dptd_checkout>
      </updates>
    </layout>
    
    <events>
      <controller_action_postdispatch_checkout_onepage_saveBilling>
        <observers>
          <setInvoiceRequest>
            <type>singleton</type>
            <class>DpTD_Checkout_Model_Observer</class>
            <method>setInvoiceRequest</method>
          </setInvoiceRequest>
        </observers>
      </controller_action_postdispatch_checkout_onepage_saveBilling>
      
      <http_response_send_before>
        <observers>
          <ajaxcart_observer>
              <type>singleton</type>
              <class>DpTD_Checkout_Model_Observer</class>
              <method>onAjaxRequest</method>
          </ajaxcart_observer>
        </observers>
      </http_response_send_before>
    </events>
    
    <routers>
      <checkout>
        <args>
          <modules>
            <DpTD_Checkout before="Mage_Checkout">DpTD_Checkout</DpTD_Checkout>
          </modules>
        </args>
      </checkout>
    </routers>
  </frontend>          
</config>