<?xml version="1.0"?>
<config>
  <modules>
    <DpTD_Site>
      <version>0.1.0</version>
    </DpTD_Site>
  </modules>
  <frontend>
    <routers>
      <site>
        <use>standard</use>
        <args>
          <module>DpTD_Site</module>
          <frontName>site</frontName>
        </args>
      </site>
    </routers>
    <layout>
      <updates>
        <site>
          <file>site.xml</file>
        </site>
      </updates>
    </layout>
  </frontend>   
  <global>
    <models>
      <site>
        <class>DpTD_Site_Model</class>
        <resourceModel>site_mysql4</resourceModel>
      </site>
      <site_mysql4>
        <class>DpTD_Site_Model_Mysql4</class>
        <entities>
          <menu_item>
            <table>menu_items</table>
          </menu_item>
          <menu_item_parameter>
            <table>menu_item_parameters</table>
          </menu_item_parameter>
          <article>
            <table>articles</table>
          </article>
          <issue>
            <table>issues</table>
          </issue>
          <image>
            <table>images</table>
          </image>
          <event>
            <table>events</table>
          </event>
          <page>
            <table>pages</table>
          </page>
          <event_date>
            <table>event_dates</table>
          </event_date>
          <city>
            <table>taxonomy</table>
          </city>
        </entities>
      </site_mysql4>
    </models>
    <resources>
      <site_setup>
        <setup>
          <module>DpTD_Site</module>
        </setup>
        <connection>
          <use>portal_setup</use>
        </connection>
      </site_setup>
      <site_write>
        <connection>
          <use>portal_setup</use>
        </connection>
      </site_write>
      <site_read>
        <connection>
          <use>portal_setup</use>
        </connection>
      </site_read>
    </resources>
    <blocks>
      <site>
        <class>DpTD_Site_Block</class>
      </site>
      <page>
        <rewrite>
          <html_footer>DpTD_Site_Block_Html_Footer</html_footer>
        </rewrite>
      </page>
    </blocks>
    <helpers>
      <site>
        <class>DpTD_Site_Helper</class>
      </site>
    </helpers>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <dptd_site translate="title" module="site">
                      <label>Portal integration</label>
                      <sort_order>120</sort_order>
                    </dptd_site>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <translate>
      <modules>
        <DpTD_Site>
          <files>
            <default>DpTD_Site.csv</default>
          </files>
        </DpTD_Site>
      </modules>
    </translate>
  </adminhtml>
</config>