<?xml version="1.0"?>
<config>
  <modules>
    <DpTD_Site>
      <version>0.1.0</version>
    </DpTD_Site>
  </modules>
  <frontend>
    <routers>
      <site>
        <use>standard</use>
        <args>
          <module>DpTD_Site</module>
          <frontName>site</frontName>
        </args>
      </site>
    </routers>
    <layout>
      <updates>
        <site>
          <file>site.xml</file>
        </site>
      </updates>
    </layout>
  </frontend>   
  <global>
    <models>
      <site>
        <class>DpTD_Site_Model</class>
        <resourceModel>site_mysql4</resourceModel>
      </site>
      <site_mysql4>
        <class>DpTD_Site_Model_Mysql4</class>
        <entities>
          <menu_item><table>menu_items</table></menu_item>
          <issue><table>issues</table></issue>
          <image><table>images</table></image>
          <event><table>events</table></event>
          <event_date><table>event_dates</table></event_date>
          <city><table>taxonomy</table></city>
        </entities>
      </site_mysql4>
    </models>
    <resources>
      <site_setup>
        <setup>
          <module>DpTD_Site</module>
        </setup>
        <connection>
          <use>portal_setup</use>
        </connection>
      </site_setup>
      <site_write>
        <connection>
          <use>portal_setup</use>
        </connection>
      </site_write>
      <site_read>
        <connection>
          <use>portal_setup</use>
        </connection>
      </site_read>
    </resources>
    <blocks>
      <site>
        <class>DpTD_Site_Block</class>
      </site>
    </blocks>
    <helpers>
      <site>
        <class>DpTD_Site_Helper</class>
      </site>
    </helpers>
  </global>
</config>