body {background: #fff;color: #000;}
a {color: #527d97;}
.caps {text-transform: uppercase;}
.header-container {background: #FCCA21;border: 0px;height: 110px;}
.header {width: 980px;padding: 0px;}
.header h1.logo {margin-top: 21px;}
.header h1.logo .logo {margin:0px;}

input.input-text:focus,select:focus,textarea:focus { background-color:#fff;border: 1px solid #000; }

.nav-container {background: transparent url('../images/footer-bg.png') repeat-x 0px 0px;border-color: #000000;}
#menu {text-align: left;width:979px; margin: 0px auto;overflow: visible;position: relative;}

.main-container {background: #fff;}
.main {background: #fff;width: 970px;padding: 25px 25px 50px 25px;}
.col-main {width: 700px;border-top: 2px solid #000;}
.col-right {width: 250px;} 
.breadcrumbs {margin: 10px 0px;}

.sidebar .block {border: 0px;border-top: 2px solid #000;padding: 0px 0px 0px 3px;margin: 0px 0px 40px 0px;}

.block .block-title {background: #fff;border: 0px;padding: 8px 0px 3px 0px;margin: 0px 0px 7px 0px;}
.block .block-title strong {background:none;padding: 0px;color: #000000;font-family: droid-sans, sans-serif;font-size: 16px;letter-spacing: 1px;font-weight: 400;text-transform: none;}
.block .block-content {background: #fff;font-family: lato, sans-serif;font-size: 14px;font-weight: 300;text-align: left;margin: 0px;padding: 0px;}
.block .empty {margin: 0px;padding: 0px;}

.block .block-content .links li {display: block;}

a:link, a:visited, a:active {text-decoration: none;color: #3E6E8C;font-family: droid-sans, sans-serif;font-size: 13px;}
a:hover {text-decoration: underline;}
button.button, a.button {text-align: center;color: #FFFFFF;font-family: lato, sans-serif;font-weight: 900;background: #000;padding: 0px 18px;-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;position: relative;}
button.button.btn-cart-sold-out {cursor: initial;}
button.button:hover, a.button:hover {background: #FCCA21;color: #000;}
button.button span, a.button span {height: 25px;line-height: 25px;padding:5px 0px;margin: 0px;background: none;border: 0px;font-family: lato, sans-serif;font-size: 14px;font-weight: 900;}
button.button span span, a.button span span {font-family:  droid-sans-mono, sans-serif;font-weight: normal;padding: 0px;}
button.button:hover span span, a.button:hover span span {color: #000;}

.messages {border: 0px;margin: 0px 0px 20px 0px !important;}
.messages li {border: 0px;padding: 15px 0px 15px 40px !important;}
.success-msg {color: green;background-color: lightgreen; border-color: green;background-image: none;border-left-width: 0px !important;border-right-width: 0px !important;}
.messages ul {border: 0px !important;}
.messages li li {position: relative;padding: 0px !important;border: 0px;}
.error-msg, .success-msg, .note-msg, .notice-msg {font-weight: normal !important;font-size: 12px !important;padding: 0px !important;margin: 0px !important;min-height: auto !important;}

.validation-advice {background: none;padding: 0px;float: left;width: 190px;clear: none !important;display: block;line-height: 16px;color: #ED1C1B;margin: 0px 0px 0px 10px;text-transform: lowercase;font-family: droid-sans, sans-serif; font-size: 13px; font-weight: bold;}
.validation-failed {border: 1px solid #ED1C1C!important;}

/* CART RIGHT SIDEBAR BLOCK*/
.sidebar .block-cart {border-top: 0px !important;border: 0px;padding: 0px 0px 15px 0px;position: relative;}
.sidebar .block-cart .block-title {background: #000;color: #fff;padding-left: 6px;}
.sidebar .block-cart .block-title strong {color: #fff;}
.sidebar .block-cart .block-content {}
.sidebar .block-cart .empty {padding: 13px 0px 0px 3px;font-family: droid-sans, sans-serif;font-size: 13px;font-weight: normal;}
.sidebar .block-cart .block-content ol {margin-bottom: 20px;}
.sidebar .block-cart .block-content li.item {padding: 7px 10px 7px 0px;border-bottom: 1px solid #BDBDBD;background: transparent;}
.sidebar .block-cart .btn-remove {float: left;background: transparent url('../images/sprites.png') no-repeat 0px -14px;width: 9px; height: 11px;margin-top: 3px;margin-left: 0px;}
.sidebar .block-cart .mini-products-list .product-details {margin-left: 18px;display: block;font-family: droid-sans, sans-serif;font-size: 13px;}
.sidebar .block-cart .mini-products-list .product-details .item-qty {float: left;margin-right:  5px;width: 25px;text-align: right;}
.sidebar .block-cart .mini-products-list .product-details .product-name {display: block;width: auto;max-width: 130px;color: #000;float: left;}
.sidebar .block-cart .mini-products-list .product-details .product-name a {color: #000;}
.sidebar .block-cart .mini-products-list .product-details .product-price {display: block;float: right;font-weight: bold;width: auto;text-align: right;}
.sidebar .block-cart .grand-total {text-align: right;font-weight: bold;font-family: droid-sans, sans-serif;margin-bottom: 15px;padding-right:  10px;}
.sidebar .block-cart .grand-total .label {font-weight: normal;}
.sidebar .block-cart .button {float: right;margin-right: 10px;}

/* PRODUCTS LIST */
.price {font-weight: normal;color: #000;font-size: 13px;font-family: droid-sans, sans-serif;}
.special-price .price {color: #dc1919;font-weight: normal;}
.old-price .price {font-weight: normal;color: #000;}

.homepage-product-list {padding-top: 10px;border-top: 1px solid #000;}
.homepage-product-list:first-child {border: 0px;}

.products-list {list-style-type: none}
.products-list li.item {width: 100%;overflow: hidden;margin: 0px 0px 40px 0px;padding: 0px;border: 0px;float: none;}
.products-list li.item .left {float: left;margin-right: 20px;}
.products-list li.item .right {float: none !important;overflow: hidden;}
.products-list li.item .category a {color: #000000;  font-family: droid-sans, sans-serif;  font-size: 16px;  font-weight: 400;  letter-spacing: 1px;  line-height: 1.5;  padding: 0px 0px 20px;}
.products-list li.item .product-name {line-height: normal;margin-bottom: 15px;}
.products-list li.item .product-name a {font-family: droid-serif, serif;font-size: 24px;font-weight: normal;line-height: 31px;color: #000;}
.products-list li.item .description {font-family: droid-serif, serif;font-size: 14px;font-weight: normal;line-height: 21px;}

.products-grid {padding: 0px;margin: 0px !important;width: 100% !important;background: transparent;border: 0px;}
.products-grid li.item {padding: 0px;min-width: 195px;width: auto;margin-right: 30px;margin-bottom: 45px;}
.products-grid li.item:nth-child(3n+4) {clear: left;}
.products-grid li.item .product-name {text-align: center;display: block;margin-bottom: 5px;font-family: droid-sans, sans-serif;font-size: 14px;font-weight: bold;line-height: 16px;color: #000;}

.products-collection li.item .product-image {float: none;overflow: hidden;display: block;width: 195px;height: auto;border: 1px solid #cdcdcd;}

.products-collection .add-to-box {width: 100%;overflow: hidden;margin: 15px 0px 0px 0px;}
.products-collection .add-to-cart {width: 100%;float: none;overflow: hidden;}
.products-collection .add-to-cart .price-box {box-sizing: border-box;margin: 0px;padding: 0px 0px;height: auto;min-height: 30px;margin-right: 10px;min-width: 48%;font-family: droid-sans, sans-serif;font-size: 13px;float: left;}
.products-collection .add-to-cart .price-box .regular-price {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 0px;height: 30px;line-height: 30px;border: 1px solid #A8A5A5;border-left: 0px;border-right: 0px;color: #000;}
.products-collection .add-to-cart .price-box .regular-price .regular-price {border: 0px;}
.products-collection .add-to-cart .price-box .special-price {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 0px;padding: 0px;height: 30px;line-height: 30px;border: 1px solid #DC1919;border-left: 0px;border-right: 0px;color: #dc1919;}
.products-collection .add-to-cart .price-box .old-price {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 0px;padding: 0px;height: 30px;line-height: 30px;border-bottom: 1px solid #a8a5a5;border-left: 0px;color: #4F4F4F;text-indent: 37px;}
.products-collection .add-to-cart .price-box .label, .products-list .add-to-cart .price-box .price-label  {font-weight: bold;color: inherit;}
.products-collection .add-to-cart .price-box .price {color: inherit;font-weight: normal;}
.products-collection .add-to-cart .btn-cart {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;padding: 0px;margin: 0px;float: none;overflow: hidden;line-height: 30px;max-width: 50%;text-decoration: none;}
.products-collection .add-to-cart .btn-cart.btn-cart-sold-out {float: right;width: 50%;background: #CDCDCD;}
.products-collection .add-to-cart .btn-cart span {font-family: droid-sans-mono, sans-serif;font-size: 12px;font-style: normal;font-weight: normal;line-height: 14px;text-decoration: none;}
a.btn-cart-sold-out:hover span span {color: #fff;}

.category-title {}
.category-title h1 {font-family: droid-sans, sans-serif;font-size: 16px;font-weight: normal;line-height: 24px;color: #000;}

/* PRODUCT VIEW*/
.catalog-product-view .col-main {border: 0px;}
.product-view {border: 0px;}
.product-view .product-essential {padding: 0px;background: transparent;}
.product-view .product-img-box {width: 197px;}
.product-view .product-img-box .product-image {float: none;overflow: hidden;display: block;width: 195px;height: auto;border: 1px solid #cdcdcd;margin: 0px;}
.product-view .product-img-box .shipping-cost-info {width: 100%;display: block;text-align: center;font-family: droid-sans, sans-serif;font-size: 12px;font-weight: normal;line-height: 14px;margin: 10px 0px 14px 0px;}
.product-view .product-img-box .shipping-cost-info a {font-family: inherit;font-size: inherit;}

.product-view .product-shop {width: 485px;border-top: 2px solid #000;}
.product-view .product-shop .category {font-family: droid-sans, sans-serif;font-size: 16px;font-weight: normal;line-height: 24px;padding-top: 12px;color: #000;margin: 0px;}
.product-view .product-shop .product-name {margin: 20px 0px;}
.product-view .product-shop .product-name h1 {font-family: droid-serif, serif;font-size: 24px;font-weight: normal;line-height: 31px;color: #000;}
.product-view .product-shop .product-name h1 .author {margin-top: 20px;font-family: droid-serif, serif;font-size: 14px;}
.product-view .product-shop .description {font-family: droid-serif, serif;font-size: 14px;font-weight: normal;line-height: 21px;}

.product-view .book-info {list-style-type: none;margin-top: 6px;margin-bottom: 18px;}
.product-view .book-info li {display: block; width: 100%;font-family: droid-sans, sans-serif;font-size: 13px;font-weight: normal;height: auto;line-height: 15px;border-bottom: 1px solid #A8A5A5;padding: 9px 0px;}
.product-view .book-info li .label {font-weight: bold;}

.product-view .add-to-box {width: 100%;float:none;}
.product-view .add-to-box .add-to-cart {width: 100%;float:none;}
.product-view .add-to-box .add-to-cart .price-box {width: 100%;text-align: center;margin: 0px;}
.product-view .add-to-box .add-to-cart .price-box.special-price-box {height:60px;position: relative;}
.product-view .add-to-box .add-to-cart .price-box .price-label {display: none;}
.product-view .add-to-box .add-to-cart .price-box .label {display: none;}
.product-view .add-to-box .add-to-cart .price-box .price {color: inherit;line-height: 30px;font-family: droid-sans-mono, sans-serif;font-size: 18px;font-weight: normal;}
.product-view .add-to-box .add-to-cart .price-box .regular-price {color: #000;background: #FCCA21;margin: 0px;height: 30px;line-height: 30px;display: block;}
.product-view .add-to-box .add-to-cart .price-box .special-price {background: #dc1919;height: 30px;width:100%;color: #fff;position:absolute;top:30px;}
.product-view .add-to-box .add-to-cart .price-box .old-price {height: 30px;color: #000;width:100%;background: #FCCA21;position:absolute;top:0px;}
.product-view .add-to-box .add-to-cart .btn-cart {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;display: block;padding: 0px;margin: 0px;float: none;overflow: hidden;line-height: 30px;width: 100%;text-decoration: none;}
.product-view .add-to-box .add-to-cart .btn-cart.btn-cart-sold-out {background: #CDCDCD;}
.product-view .add-to-box .add-to-cart .btn-cart-sold-out:hover span span {color: #fff;}

/*CUSTOMER LOGIN PAGE*/
.account-login .content {background: #fff;border: 0px;padding: 15px 0px 0px 0px;min-height: auto;}
.account-login .registered-users {border: 0px;}
.account-login .registered-users h2 {background: none;padding: 0px;color: #000;font-family: lato, sans-serif;font-size: 20px;font-weight: 900;line-height: 28px;border: 0px;text-transform: none;}
.registered-users .form-list {}
.registered-users .form-list li {}
.registered-users .form-list label {float: left;display: block;width: 110px;color: #000;text-transform: lowercase;font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif; font-size: 12px;height: 20px;line-height: 20px;}
.registered-users .form-list .input-box {clear: none;float: left;}
.registered-users .form-list .input-box  input {height: 20px; border: 1px solid #000;}
.registered-users .buttons-set {background: none;border: 0px;padding-left: 110px;text-align: left;}
.registered-users .buttons-set button.button {float: none; display: block;}
.registered-users .password-forgot {display: inline-block;margin-top: 20px;color: #7f7f7f;font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;font-size: 12px;}
#remember-me-box  .input-box {margin-left: 110px;width: auto;float: left;margin-right: 5px;}
#remember-me-box  label {float: left;width: 200px;text-transform: none;height: auto;line-height: 16px;color: #7F7F7F;}

.new-users {border: 0px;border-top: 4px solid #000;margin-top: 50px;}
.new-users h2 {background: none;padding: 0px;color: #000;font-family: lato, sans-serif;font-size: 20px;font-weight: 900;line-height: 28px;border: 0px;text-transform: none;}
.new-users .info {color: #7f7f7f;display: block;font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;font-size: 12px;height: 14px;line-height: 14px;}
.new-users .account-create {padding-top: 15px;}
.new-users .account-create .buttons-set button.button {margin-left: 690px}


/* CART */
.cart .page-title {margin: 0px;}
.cart .page-title h1 {font-family: droid-sans, sans-serif;font-size: 16px;font-weight: normal;line-height: 24px;color: #000;margin: 10px 0px 45px;padding: 0px;}
.data-table {border: 0px;font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;}
.data-table thead th {background: none;border: 0px;border-bottom: 2px solid #000;font-family: droid-sans, sans-serif;font-size: 13px;font-weight: bold;line-height: 15px;color: #000;padding: 0px 0px 5px 5px;}
.data-table thead tr.last th {border-bottom: 2px solid #000 !important;padding-bottom: 5px;}
.data-table thead .col-price {padding-right: 10px;}
.data-table tfoot {border: 0px;}
.data-table tfoot tr {background: none !important;}
.data-table tfoot tr.first td {background: none;}
.data-table tfoot td.no-border {border: 0px !important;}
.data-table .odd {background: none;}
.data-table .even {background: none;}
.data-table tbody td, .data-table tbody tr.first td, .data-table tbody tr.last td   {border-right: 0px;border-bottom: 1px solid #000 !important;vertical-align: middle;padding: 5px;}
.data-table tbody td .remove-item {font-size: 12px;text-transform: lowercase;color: #4f4f4f;}
.data-table tbody td .product-name, .data-table tbody td .product-name a {font-family: droid-sans, sans-serif;font-size: 13px;font-weight: normal;line-height: 15px;color: #000;margin: 0px;}
.data-table tbody td.col-price {padding-right: 0px;}
.data-table input.qty {height: 25px;width: 40px !important;padding: 0px;text-align: center;}
.data-table input.qty:focus {background: #fff;}
.data-table .cart-price .price {font-family: droid-sans, sans-serif;font-size: 13px;font-weight: bold;}

.cart .button.btn-continue {border: 0px;background: transparent;position: absolute;margin-top: -50px;text-decoration: none;color: #3E6E8C;font-weight: normal;font-size: 13px;line-height: 18px;font-family: droid-sans, sans-serif;padding: 0px;}
.cart .button.btn-continue:hover {background: transparent;cursor: pointer;text-decoration: underline;color: #3E6E8C;}
.cart .button.btn-empty {border: 0px;background: transparent;color: #4F4F4F;text-decoration: none;padding: 0px;font-family: droid-sans, sans-serif;font-size: 12px;font-weight: normal;line-height: 14px;text-transform: lowercase;}
.cart .button.btn-empty:hover {background: transparent;cursor: pointer;text-decoration: underline;color: #4f4f4f;}
.cart .button.btn-update {border: 0px;background: #999;text-decoration: none;font-family: droid-sans, sans-serif;font-size: 12px;font-weight: normal;line-height: 14px;text-align: center;display: block;width: 100%;padding: 3px 0px;margin: 0px auto;}
.cart .button.btn-update:hover {background: #FCCA21;cursor: pointer;text-decoration: none;color: #4f4f4f;}
.cart .button.btn-proceed-checkout {width: 100%;padding: 0px 0px 5px 0px;}
.cart .button.btn-proceed-checkout span {background:#000;padding: 5px 0px 5px 0px;}
.cart .button.btn-proceed-checkout:hover span {background: #FCCA21;}

.cart .cart-collaterals {padding: 10px 0px 0px 5px;}
.cart .totals {float: right;width: auto;min-width: 183px;background: none;border: 0px;font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;}
.cart .totals table {border-bottom: 2px solid #000;margin-bottom: 30px;}
.cart .totals tfoot td {padding: 0px 0px 6px 0px;font-family: droid-sans, sans-serif;font-size: 16px;font-weight: bold;line-height: 19px;}
.cart .totals tfoot td .price {font-family: droid-sans, sans-serif;font-size: 16px;font-weight: bold;}
.cart .totals .checkout-types {font-size: 13px;padding: 15px 0px 5px 0px;text-align: right;}
.cart .totals tfoot th strong, .cart .totals tfoot td strong {font-size: inherit;}


.fieldset {border: 0px;background: none;padding: 20px;margin: 0px;}
.form-list li.control {margin: 20px 0px 30px 120px;}
.form-list li.control.no-indent {margin: 20px 0px 20px 0px;}
.form-list .field {width: auto;margin: 5px 0px;}
.form-list div.field, .form-list li.wide {margin: 0px 0px 15px 0px;}
.form-list label {color: #CCCCCC;display: block !important;float: left !important;text-transform: lowercase;font-family: droid-sans, sans-serif;font-size: 13px;font-weight: normal;min-height: 20px;line-height: 36px;min-width: 105px;text-align: right;padding-right: 15px;}
.form-list label[for="billing-address-select"]{color: #000;margin-bottom: 15px;}
.form-list label.uppercase {text-transform: uppercase;}
.form-list label.required em {display: none;}
.form-list label.required {color: #4F4F4F;}
.form-list li.control label {width: auto;margin-right: 10px;font-family: droid-sans, sans-serif; font-size: 13px; font-weight: normal;color: #000;text-transform: initial;height: 15px;line-height: 18px;}
.form-list li.control input.radio, .form-list li.control input.checkbox {margin-top: 3px;float: left;}
.form-list .input-box {float: left;clear: none;width: 560px;}
.form-list li.wide .input-box {width: auto;}
.form-list li.wide > .input-box {margin-left: 120px;}
.form-list li.wide label + .input-box {margin-left:  0px;}
.form-list input.input-text {border: 1px solid #CCCCCC;background: #fff;height: 34px;width: 335px;font-size: 13px;float: left;padding-left: 10px;}
.form-list input.input-text:hover {border-color: #000;}
.form-list li.wide input.input-text {}
.col2-right-layout .form-list li.wide input.input-text,
.col2-left-layout .form-list li.wide input.input-text {width: 335px;float: left;clear: none;}
.form-list select {border: 1px solid #ccc;background: #fff;height: 36px;width: 350px;font-size: 13px;padding-left: 10px;}
.form-list li.wide select {width: 475px;}

.buttons-set {border: 0px;color: #000;margin: 0px;padding: 0px;text-align: left;}
.buttons-set .back-link {color: #000;}
.buttons-set button.button {float: none;}
.buttons-set .required {display: none;}

.page-title {border-bottom: 0px;font-size: 15px;font-family: lato, sans-serif;font-weight: 900;background: #fff;border: 0px;padding: 0px;margin: 0px 0px 20px 0px;}
.page-title h1, .page-title h2 {color: #000;padding: 10px 0px;}

/*ACCOUNT PAGE*/
.box-account {background: #fff;border: 0px;padding: 15px 0px;}
.box-account .box-head {border: 0px;color: #000;text-align: left;}
.box-account .box-head h2 {background: none !important;float: none;padding: 0px;color: #000;font-family: lato, sans-serif;}

/* CHECKOUT */
.opc { position:relative; }
.opc li.section {background: #fff;border-top: 0px;display:  none;}
.opc li.section.active {display: block;}

.opc .step-title { border-width: 0px; background: #fff; padding: 4px 8px 6px 0px; text-align:right; }
.opc .step-title .number { display: none; }
.opc .step-title h2 {color: #888; font-family: lato; font-size: 18px; line-height: 26px;}
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

.opc .allow .step-title { background: #fff; color: #000; border: 0px;}
.opc .allow .step-title h2 { color: #000; }

.opc .buttons-set button.button {float: right;}
.opc .buttons-set .back-link a {background: transparent;padding-left: 0px;}
.opc .buttons-set .back-link small {display: inline;}

.opc .active .step-title { background: #fff; border: 0px; padding-bottom:5px; color: #000; cursor:default; }
.opc .active .step-title h2 { font-family: droid-sans, sans-serif;font-size: 16px;font-weight: normal;height: 24px;letter-spacing: 1px;line-height: 24px;}

.opc .step { border: 0px; background: #fff; padding: 30px 0px 15px 20px; position:relative; width: auto;}
.opc .step fieldset {width: 100%;overflow: hidden;margin-bottom: 45px;}
.opc .step fieldset legend {display: initial;font-family: droid-sans, sans-serif;font-size: 16px;font-weight: normal;line-height: 24px;color: #000;text-indent: 120px;}
#billing-new-address-form fieldset:last-of-type {margin-bottom: 30px;}

#opc-login .form-list label {text-align: left;}
#opc-login .form-list .input-box {width: 330px;}
#opc-login .form-list input.input-text {width: 315px}
#opc-login .buttons-set button.button {float: right;}
#opc-login .col-1 .form-list li.control {margin: 8px 0px;}
#opc-login #remember-me-box {margin: 0px;}
#opc-login #remember-me-box .input-box {margin-left: 0px;width: auto;}
#opc-login #remember-me-box label {width: auto;}

#opc-billing .shipping_address_settings {display: none;margin: 0px 0px 10px 120px;}
#opc-billing #remember-me-box {margin: 0px 0px 0px 120px;}
#opc-billing #remember-me-box .input-box {margin-left: 0px;width: auto;}
#opc-billing #remember-me-box label {width: auto;}

#opc-shipping_method {width: 400px;}
#opc-shipping_method #co-shipping-method-form h3 {font-family: droid-sans, sans-serif;font-size: 13px;font-weight: normal;height: 15px;color: #4F4F4F;line-height: 15px;}

#billing-buttons-container, #shipping-buttons-container {width: 470px;padding-top: 0px;}
#billing-buttons-container button.button {float: right}

#opc-payment {width: 450px;}
#opc-payment label[for="p_method_payu_account"] img {display: none;}
.sp-methods dd > ul {display: block !important;border: 0px !important;margin: 0px 0px 0px 20px;padding: 0px !important;}
.sp-methods dd > ul li {margin: 0px !important;border: 0px !important;}
.opc .checkout-agreements .agreement-content, #payment_form_payu_account {border: 0px;font-family: droid-sans, sans-serif;font-size: 13px;font-weight: normal;line-height: 15px;color: #4f4f4f;}
.opc .checkout-agreements .agreement-content br {line-height: 20px;}

#opc-review .data-table {border-bottom: 2px solid #777777;}
#opc-review .data-table tbody tr td {padding: 10px 0px 5px 0px;}
#opc-review .data-table tfoot tr td {border: 0px;font-family: droid-sans, sans-serif;font-size: 13px;font-weight: normal;height: 15px;line-height: 15px;padding: 10px 0px;text-transform: lowercase;}
#opc-review .data-table tfoot tr td.total-cost {font-weight: bold;}
#opc-review .data-table tfoot tr.totals-subtotal td {border-bottom: 2px solid #000;font-weight: bold;}
#opc-review .data-table tfoot tr.totals-shipping td {border-bottom: 1px solid #000;}
#opc-review .data-table tfoot tr.totals-tax td {border-bottom: 1px solid #000;}
#opc-review .product-name {font-weight: normal;color: #000;}
#opc-review .step { border:0; padding: 30px 0px; }
#opc-review .field {margin: 25px 0px;}
#opc-review .field label {font-family: droid-sans, sans-serif;font-weight: bold;}
#opc-review .field .input-box {margin: 3px 0px;}
#opc-review .field .input-box textarea {width: 430px;height: 100px;}
#opc-review .field .input-box .info {width: 430px;}
#opc-review .buttons-set { padding: 20px 0px; border: 0px; border-width: 1px 0px 0px 0px; text-align: right;}


.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding: 11px 0px 0px; margin:0 0 5px;font-family: droid-sans, sans-serif;font-size: 16px;font-weight: normal;letter-spacing: 1px;line-height: 24px;}
.block-progress .block-title strong {font-size: inherit; color:inherit;font-weight: normal;}
.block-progress .block-content { background: none; margin-top: 12px;}
.block-progress ol li {list-style-type: none;margin-bottom: 10px;font-family: droid-sans, sans-serif; font-size: 13px;}
.block-progress ol li .step-counter {background: #ccc;width: 26px; height: 26px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;-khtml-border-radius: 2px;display: inline-block;color: #fff;font-family: droid-sans, sans-serif; font-size: 14px; font-weight: bold;text-align: center;line-height: 26px;margin-right: 10px;}
.block-progress ol li.complete {}
.block-progress ol li.complete .step-counter {background: #000;}
.block-progress ol li.active .step-counter {background: #fcca21;}
.block-progress ol li .step-summary {padding-left: 40px;}
.block-progress ol li .step-summary, .block-progress ol li .step-summary address {font-family: droid-sans, sans-serif; font-size: 12px; font-weight: normal;line-height: 16px;color: #4F4F4F;}

.checkout-onepage-success .page-title .checkout-success {font-family: droid-sans, sans-serif;font-size: 16px;font-weight: normal;letter-spacing: 1px;}
.checkout-onepage-success p {font-family: droid-sans,sans-serif;font-size: 13px;line-height: 15px;margin: 3px 0px;}
.checkout-onepage-success .sub-title {margin-bottom: 30px;color: #000;font-weight: normal;font-size: 14px;line-height: 18px;}
.checkout-onepage-success .buttons-set {margin-top: 100px;}

/* STATIC PAGES */
.cms-page-view .page-title h1 {font-family: droid-serif, serif;font-size: 28px;line-height: 42px;font-weight: normal;margin-bottom: 20px;}
.cms-page-view .breadcrumbs-info {margin-top: 8px;font-family: droid-sans, sans-serif;font-size: 16px;letter-spacing: 1px;line-height: 24px;}
.cms-regulamin-sklepu .std ol li {font-family: droid-serif, serif;font-size: 12px;font-weight: normal;list-style-type: decimal;margin-bottom: 25px;}
.cms-regulamin-sklepu .std ol li ol li {font-family: droid-serif, serif;font-size: 14px;font-weight: normal;list-style-type: decimal;line-height: 22px;margin-bottom: 0px;}
.cms-regulamin-sklepu .std ol li ol li ol {margin: 0px;}
.cms-regulamin-sklepu .std ol li ol li ol li {list-style-type: lower-latin;}
.cms-platnosc-i-dostawa .std {font-family: droid-serif, serif;font-size: 14px;line-height: 22px;color: #000;font-weight: normal;}
.cms-platnosc-i-dostawa .std h2.section_header {font-weight: bold;text-transform: uppercase;color: #000;font-size: 14px;margin-top: 35px;}
.cms-platnosc-i-dostawa .std h2.section_header:first-child {margin-top: 0px;}
.cms-kontakt .std {font-family: droid-serif, serif;font-size: 14px;line-height: 22px;color: #000;font-weight: normal;}


.drop-loader {width: 100%;height: 102%;display: block;position: absolute;z-index: 10;top: 0px;background: #fff url('../images/ajax_small_loader.gif') no-repeat center center;opacity: 0.8;}
.ajax-message-wrapper {position: fixed;width: 300px;height: auto;padding: 20px 10px;z-index: 999;opacity: 0.95;-moz-opacity: 0.95;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);}
.ajax-message-wrapper.success {background: #FCCA21;}
.ajax-message-wrapper.error {background: #FF2011;}
.ajax-message-wrapper ul .msg-item {display: block;margin: 3px 0px;color: #000;}
.ajax-message-wrapper .btn-close {background: #000;padding: 5px 15px;border-radius: 2px;color: #fff;text-decoration: none;display: inline-block;margin-top: 10px;cursor: pointer;height: 20px;font-family: droid-sans, sans-serif;font-weight: normal;line-height: 20px;font-size: 12px;}