body {background: #fff;color: #000;}
a {color: #527d97;}
.header-container {background: #4F7790;border: 0px;height: 110px;}
.header {width: 980px;padding: 0px;}
.header h1.logo {margin-top: 21px;}
.header h1.logo .logo {margin:0px;}

.nav-container {
  background: #000;
  /*  background: -webkit-gradient(linear, center top, center bottom, from(#2D2D2D),color-stop(60%, #1D1D1D));
   *  background: -webkit-linear-gradient(top,#2D2D2D ,#1D1D1D 60%);
   *  background: -moz-linear-gradient(top,#2D2D2D ,#1D1D1D 60%);
   *  background: -ms-linear-gradient(top,#2D2D2D ,#1D1D1D 60%);
   *  background: -o-linear-gradient(top,#2D2D2D ,#1D1D1D 60%);
   *  background: linear-gradient(to bottom,#2D2D2D ,#1D1D1D 60%);
   *  -pie-background: linear-gradient(top,#2D2D2D ,#1D1D1D 60%);*/
  border-color: #000000;  
}
#menu {text-align: left;width:979px; margin: 0px auto;overflow: hidden;position: relative;}

.main-container {background: #fff;}
.main {background: #fff;width: 970px;padding: 0px 25px 50px 25px;}
.col-main {width: 700px;border-top: 4px solid #000;}
.col-right {width: 250px;} 
.breadcrumbs {margin: 10px 0px;}

.sidebar .block {border: 0px;border-top: 4px solid #000;padding: 0px 0px 0px 3px;margin: 0px 0px 55px 0px;}

.block .block-title {font-size: 15px;font-family: lato, sans-serif;font-weight: 900;background: #fff;border: 0px;padding: 0px 0px 3px 0px;margin: 0px 0px 9px 0px;}
.block .block-title strong {color: #000;background: #fff !important;text-transform: none; font-size: 15px;font-family: lato, sans-serif;font-weight: 900;padding: 6px 0px;}
.block .block-content {background: #fff;font-family: lato, sans-serif;font-size: 14px;font-weight: 300;text-align: left;margin: 0px;padding: 0px;}
.block .empty {margin: 0px;padding: 0px;}

.block .block-content .links li {display: block;}
.block .block-content .links li a {text-decoration: none;}

a:link, a:visited, a:active {text-decoration: none;}
a:hover {text-decoration: underline;}
button.button, a.button {text-align: center;color: #FFFFFF;font-family: lato, sans-serif;font-weight: 900;background: #ED1C24;padding: 0px 18px;min-width: 100px;}
button.button span, a.button span {height: 25px;line-height: 25px;padding:0px;margin: 0px;background: none;border: 0px;font-family: lato, sans-serif;font-size: 14px;font-weight: 900;}
button.button span span, a.button span span {}
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update span { border-color:#ED1C24; background:#ED1C24; }

/*CUSTOMER LOGIN PAGE*/
.account-login .content {background: #fff;border: 0px;padding: 15px 0px 0px 0px;min-height: auto;}
.account-login .registered-users {border: 0px;}
.account-login .registered-users h2 {background: none;padding: 0px;color: #000;font-family: lato, sans-serif;font-size: 20px;font-weight: 900;line-height: 28px;border: 0px;text-transform: none;}
.registered-users .form-list {}
.registered-users .form-list li {}
.registered-users .form-list label {float: left;display: block;width: 110px;color: #000;text-transform: lowercase;font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 12px;height: 20px;line-height: 20px;}
.registered-users .form-list .input-box {clear: none;float: left;}
.registered-users .form-list .input-box  input {height: 20px; border: 1px solid #000;}
.registered-users .buttons-set {background: none;border: 0px;padding-left: 110px;text-align: left;}
.registered-users .buttons-set button.button {float: none; display: block;}
.registered-users .password-forgot {display: inline-block;margin-top: 20px;color: #7f7f7f;font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;font-size: 12px;}
#remember-me-box  .input-box {margin-left: 110px;width: auto;float: left;margin-right: 5px;}
#remember-me-box  label {float: left;width: 200px;text-transform: none;height: auto;line-height: 16px;color: #7F7F7F;}

.new-users {border: 0px;border-top: 4px solid #000;margin-top: 50px;}
.new-users h2 {background: none;padding: 0px;color: #000;font-family: lato, sans-serif;font-size: 20px;font-weight: 900;line-height: 28px;border: 0px;text-transform: none;}
.new-users .info {color: #7f7f7f;display: block;font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;font-size: 12px;height: 14px;line-height: 14px;}
.new-users .account-create {padding-top: 15px;}
.new-users .account-create .buttons-set button.button {margin-left: 690px}

/*PRODUCT VIEW*/
.product-view {border: 0px;}
.product-essential {background: none;padding: 0px;}
.product-view .product-shop {width: 475px;}
.product-view .product-shop .product-name {margin: 0px 0px 20px 0px;border-bottom: 1px dashed #000;padding: 0px 0px 15px 0px;}
.product-view .product-shop .product-name h1 {font-size: 24px;color: #000;line-height: 36px;}
.product-view .product-shop .product-name .author {font-weight: bold;}
.product-view .product-shop .product-name .author_title {font-style: italic;font-weight: normal;}
.product-view .product-shop .product-name .editor {font-style: italic;font-weight: normal;}
.product-view .product-shop .product-name .editr_title {font-weight: bold;}
.product-view .product-shop .description {line-height: 22px;text-align: justify;}
.product-view .product-img-box {width: 215px;}
.product-view .product-img-box .product-image {width: 200px;}
.product-view .product-img-box .book-info {width: 215px;list-style: none;}
.product-view .product-img-box .book-info li {list-style: none;display: block;margin: 10px 0px 0px 0px;border-bottom: 1px solid #000;padding: 0px 0px 10px 0px;font-size: 12px;}
.product-view .product-img-box .book-info li .label {font-weight: bold;}
.product-view .product-img-box .price-box {margin: 10px 0px 0px 0px;border-bottom: 1px solid #000;padding: 0px 0px 10px 0px;}
.product-view .product-img-box .price-box .label {font-weight: bold;}

.regular-price .price {font-weight: normal;color: #000;font-size: 12px;}
.old-price .price-label {}
.old-price .price {color: #999;font-weight: normal;}
.special-price .price-label {color: #000;font-size: 12px;}
.special-price .price {color: #000;font-size: 12px;}

.product-view .product-img-box .add-to-box {margin: 0px;}
.product-view .product-img-box .add-to-box .add-to-cart {margin-top: 10px;}
.product-view .product-img-box .add-to-box .add-to-cart label {font-size: 12px;color: #000;}
.product-view .product-img-box .add-to-box .add-to-cart input {}
.product-view .product-img-box .add-to-box .add-to-cart button {display: block;width: 215px;padding: 0px 0px;margin: 5px 0px;}
.product-view .product-img-box .btn-cart span {width:100%;display: block;margin: 0px;padding: 0px;background: #ED1C24;}
.product-view .product-img-box .btn-cart span span {}

.mini-products-list li {padding: 10px 9px;border-bottom: 1px dotted #000;}
.mini-products-list li.odd {background-color: #fff;}
.mini-products-list li.even {background-color: #fff;}
.mini-products-list li.last {border-bottom: 0px;}

.cart .page-title h1 {font-family: lato, sans-serif;font-size: 20px;font-weight: bold;}
.data-table {border: 0px;font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;}
.data-table thead th {background: none;border: 0px;border-bottom: 2px solid #000;font-size: 13px;font-weight: bold;}
.data-table thead tr.last th {border-bottom: 2px solid #000 !important;}
.data-table tfoot {border: 0px;}
.data-table tfoot tr {background: none !important;}
.data-table tfoot tr.first td {background: none;}
.data-table .odd {background: none;}
.data-table .even {background: none;}
.data-table tbody td, .data-table tbody tr.first td, .data-table tbody tr.last td   {border-right: 0px;border-bottom: 1px solid #000 !important;}
.data-table tbody td .remove-item {font-size: 12px;text-transform: lowercase;color: #7F7F7F;}
.data-table tbody td .product-name, .data-table tbody td .product-name a {color: #000;font-size: 13px;}

.cart .totals {float: right;width: auto;background: none;border: 0px;}
.cart .totals table {border-bottom: 2px solid #000;}
.cart .totals .checkout-types {font-size: 13px;padding: 15px 0px 5px 0px;text-align: right;}
button.btn-checkout span span {background-position: 100% 0;padding: 0;}

.fieldset {border: 0px;background: none;padding: 20px;margin: 0px;}
.form-list li {}
.form-list li.control {margin: 20px 0px;}
.form-list .field {width: 400px;margin: 5px 0px;}
.form-list label {color: #7F7F7F;display: block !important;float: left !important;width: 120px;text-transform: lowercase;font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;font-size: 12px;height: 20px;line-height: 20px;}
.form-list label.required em {display: none;}
.form-list label.required {color:  #000;}
.form-list li.control label {width: auto;}
.form-list .input-box {float: left;clear: none;}
.form-list li.wide > .input-box {margin-left: 120px;}
.form-list li.wide label + .input-box {margin-left:  0px;}
.form-list input.input-text {border: 1px solid #7F7F7F;background: #fff;height: 20px;width: 255px;}
.form-list li.wide input.input-text {width: 655px;}
.form-list select {border: 1px solid #7F7F7F;background: #fff;height: 26px;width: 260px;}

.validation-failed {border: 1px solid #ED1C24!important;background: #fff !important;}

.buttons-set {border: 0px;color: #000;margin: 0px;padding: 0px;text-align: left;}
.buttons-set .back-link {color: #000;}
.buttons-set button.button {float: none;}

.page-title {border-bottom: 0px;font-size: 15px;font-family: lato, sans-serif;font-weight: 900;background: #fff;border: 0px;padding: 0px 0px 3px 0px;margin: 0px 0px 9px 0px;}
.page-title h1, .page-title h2 {color: #000;padding: 6px 0px;}

/* ACCOUNT PAGE */
.box-account {background: #fff;border: 0px;border-top: 1px solid #000;}
.box-account .box-head {border: 0px;color: #000;text-align: left;}
.box-account .box-head h2 {background: none !important;float: none;padding: 0px;color: #000;font-family: lato, sans-serif;}