#menu, #rightMenu {display: block;list-style: none;height: 25px;margin: 0;padding: 0;border-left: 0px;min-width: 100px;font-family: lato, sans-serif;font-size: 12px;font-style: normal;font-weight: normal;}
#menu a {font-family: "Droid Serif Pro", "Lucida Grande", Geneva, Arial, Verdana, sans-serif;font-size: 14px;letter-spacing: 1px;color: white;}
#menu li, .submenu .items li, #rightMenu li {margin: 0;padding: 0;float: left;}
#menu li {position: relative;height: 25px;border-right: 0px;}
#menu li.current {background: #fff !important;}
#menu li.current a {color: #000;}
#menu li a.link, #rightMenu li.login, #rightMenu li a.atom {display: block;float: left;height: 21px;padding-top: 3px;padding-left: 10px;padding-right: 10px;font-family: lato, sans-serif;font-size: 12px;font-style: normal;font-weight: normal;letter-spacing: 1px;text-transform: uppercase;}
#menu li a.submenuToggler, #menu li span.handle, .submenu span.handle, #rightMenu span.handle, #footer span.handle {display: block;float: left;height: 25px;width: 20px;background-image: url("../images/dropDownArrow.png");background-repeat: no-repeat;background-position: center center;}
#menu li span.handle, .submenu span.handle, #rightMenu span.handle, #footer span.handle {cursor: move;width: 15px;background-position: left center;background-image: url("../images/dot.png");}
#menu li a.selected {background-image: url("../images/dropDownArrowUp.png");}
#menu li a.selected, #menu li a.submenuToggler:hover {background-color: rgba(59,59,59,0.5);}
#menu li:hover {background: #FCCA21;}
#menu li:hover a.link {color: #000;text-decoration: none;}

/* shop submenu */
#menu .menuItem .submenuBlock {display: none;clear: both;position: absolute;margin-top: 25px;background: #fff;z-index: 100;box-shadow: 2px 2px 5px #555;max-width: 300px;width: 140px;}
#menu .menuItem:hover .submenuBlock {display: block;}
#menu .menuItem .submenuBlock a {color: #000;font-family: lato, sans-serif;font-size: 11px;font-style: normal;font-weight: normal;display: block;padding: 3px 8px !important;}
#menu .menuItem .submenuBlock a:hover {text-decoration: none;}
#menu .menuItem .submenuBlock .links li {float: none;display: block;margin: 0px;padding: 0px !important;width: auto;}
#menu .menuItem .submenuBlock .links li:hover, #menu .menuItem .submenuBlock .links li.last:hover {background: #fcca21 !important;}


#submenu .hidden {display: none !important;}
#submenu {display: block;font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;font-size: 12px;padding-bottom: 25px;width: 980px;margin: 0px auto;}
#submenu .submenu {border-bottom: 1px solid #000;display: block;font-size: 12px;height: auto;overflow: visible;position: relative;top: 0px;width: 980px;z-index: 2;}
#submenu .submenu .submenu-wrapper {display: block;font-size: 12px;height: auto;width: 980px;}
#submenu .submenu-wrapper .spacer {height: 25px;width: 100%;border-bottom: 1px solid black;}
#submenu .submenu-wrapper .preview {clear: both;display: block;font-size: 12px;height: 155px;width: 980px;}
#submenu .submenu-wrapper .carousel {display: block;font-size: 12px;height: 150px;position: relative;width: 980px;}
#submenu .carousel > a.control {position: absolute;top: 0;display: block;height: 100%;width: 41px;background-repeat: no-repeat;padding: 0;}
#submenu .carousel > a.previous {left: -21px;background-image: url("../images/carousel_left.png");background-position: center left;}
#submenu .carousel > a.next {right: -21px;background-image: url("../images/carousel_right.png");background-position: center right;}
#submenu .IssuesPreview .carousel > a.control {background-position: 0px 50px;width: 21px;}
#submenu .IssuesPreview .carousel > a.control.next {background-position: 6px 50px;width: 19px;right: -19px;}

#submenu .IssuesPreview .carousel .wrapper {display: block;float: left;font-size: 12px;height: 150px;left: 0px;overflow: hidden;position: absolute;top: 0px;width: 980px;}
#submenu .IssuesPreview .carousel .wrapper > ul {display: block;font-size: 12px;height: 160px;list-style-type: none;margin: 0px;padding: 0px;position: absolute;right: -12px;}
#submenu .IssuesPreview .carousel .wrapper > ul li.issue{display: block;float: left;font-size: 12px;height: 150px;list-style-type: none;margin: 0px 12px;padding: 10px 0px 0px 0px;text-align: center;width: 76px;}

li.issue a {color: #919191;font-size: 10px;}
li.issue strong {font-style: normal;font-size: 14px;color: black;}
li.issue span{display: block;margin-top: -2px;}
li.issue .cover {display: block;width: 75px;height: 98px;background-color: #7F7F7F;margin: 4px 0px 3px 4px;}
li.issue .cover img {border: 1px solid #E5E5E5;margin-left: -4px;margin-top: -4px;}


#submenu .eventsSubmenu .carousel {background-color: black;color: white;height: 140px;}
#submenu .eventsSubmenu .carousel .wrapper {position: absolute;width: 940px;min-width: 940px;left: 20px;top: 0;height: 100%;float: left;overflow: hidden;}
#submenu .eventsSubmenu .carousel ul {list-style: none;padding: 0;margin: 0;width: 10000px;margin-left: -20px;text-align: left;}
#submenu .eventsSubmenu .carousel ul li.day {float: left;width: 450px;height: 80px;margin-left: 20px;margin-right: 20px;}
#submenu .eventsSubmenu .carousel ul li.day.fullwidth {width: 940px;}
#submenu .eventsSubmenu .carousel ul li.day h2 {font-size: 14px;padding-top: 10px;padding-bottom: 10px;margin: 0;margin-bottom: 15px;border-bottom: 1px dashed #a3a3a3;text-align: left;}
#submenu .eventsSubmenu .carousel ul li.day ul {height: 60px;width: 450px;margin: 0;padding: 0px; list-style: none;}
#submenu .eventsSubmenu .carousel ul li.day ul.right {position: relative;top: -60px;left: -20px;}
#submenu .eventsSubmenu .carousel ul li.day ul li.event {line-height: 20px;height: auto;width: 100%;float: none;margin: 0;padding-left: 8px;}
#submenu .eventsSubmenu .carousel ul li.day ul li.event a {color: white;}
#submenu .eventsSubmenu .carousel ul li.day ul li.event .bullet {display: block;position: relative;float: left;top: 5px;left: -8px;width: 7px;height: 9px;background-color: #527d97;background-image: url("../images/bullet_on_black.png");background-position: center;background-repeat: no-repeat;}
#submenu .eventsSubmenu .carousel ul li.day ul li .location {color: grey;}

.indicator {position: absolute;top: 50%;left: 50%;height: 100px;width: 100px;margin-left: -50px;margin-top: -50px;background-color: black;-moz-border-radius: 1em;-webkit-border-radius: 1em;border-radius: 1em;border-radius: 1em;opacity:0.7;filter:alpha(opacity=70);}
.indicator.white {background-color: white;}
.indicator img {position: absolute;top: 50%;left: 50%;height: 32px;width: 32px;margin-left: -16px;margin-top: -16px;}

.submenu .items {position: relative;margin: 0;padding: 0;list-style: none;background-color: #e5e5e5;height: 25px;}
.submenu .items li {padding-left: 10px;padding-right: 10px;float: left;}
.submenu .items a {color: black;display: block;float: left;height: 20px;line-height: 16px;padding-top: 5px;}

.footer-container {border:0px;background-color: #fff;color: #fff;font-family: droid-sans, sans-serif;font-size: 12px;height: 180px;background: transparent url('../images/footer-bg.png') repeat-x 0px 20px;}
.footer {width: 980px;margin: 0 auto;padding: 0px;text-align: left;}
.footer a {color: #b2b2b2;}
.footer li.clear {display: none;}
.footer .left {float: left;width: 840px;padding-right: 10px;min-height: 100px;}
.footer .left .menu {overflow: hidden;}
.footer .left .menu > li {padding: 25px 10px 15px 10px;width: 120px;float: left;list-style: none;background: none;}
.footer .left .menu h3, .footer .left .menu h3 a {color: white;margin: 0px 0px 10px 0px;font-weight: normal;font-size: 12px;background: none;text-transform: uppercase;letter-spacing: 1px;font-family: lato, droid-sans, sans-serif;}
.footer .left .menu ul {display: block;margin: 0px}
.footer .left .menu ul .menuItem {margin: 0px;padding: 1px 0px;background: none;display: list-item;line-height: 15px;}
.footer .left .menu ul .menuItem a {color: #000;font-family: droid-sans,sans-serif;font-size: 11px;}
.footer .left .menu ul .menuItem.facebook-link a {background: transparent url('../images/sprites.png') no-repeat 0px -132px;display: block;height: 40px;width: 40px;} 

.footer .payu {float: right;margin-top: 55px;margin-right: 20px;}
.footer .payu p {color: #000;margin: 0px 0px 20px 0px;font-size: 11px;font-family: droid-sans, sans-serif;}
.footer .payu .payu-logo {background: transparent url('../images/sprites.png') no-repeat -30px -65px;display: block; width: 105px; height: 30px;}

.footer .copyrights {font-size: 10px;float: none;clear: both;width: 100%;padding: 25px 0px 10px 10px;color: #b2b2b2;text-align: left;}
.footer .copyrights * {font-size: 10px;}
.footer .copyrights p {color: #000;}
.footer .copyrights p .grey {color: #4F4F4F;}
